ParallelProcessingExample/ProductList.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://www.refactorit.sk" 
	targetNamespace="https://www.refactorit.sk">

	<xs:complexType name="productType">
	<xs:sequence>
		<xs:element type="xs:string" name="id" />
	</xs:sequence>
	</xs:complexType>
	<xs:complexType name="product-listType">
		<xs:sequence>
			<xs:element ref="product" maxOccurs="unbounded"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="product" type="productType" />
	<xs:element name="product-list" type="product-listType" />

</xs:schema>