ParallelProcessingExample/ProductList.xsd

<xs:schema attributeFormDefault="unqualified" 
	elementFormDefault="qualified" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://www.refactorit.sk" 
	targetNamespace="https://www.refactorit.sk">
	
  <xs:element name="id" type="xs:string"/>
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>